<mat-toolbar class="navbar">
  <button mat-icon-button class="edit-btn" (click)="drawer.toggle()">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <span>Studio 67 admin</span>
  <span>Log in</span>
</mat-toolbar>

<mat-drawer-container class="content-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <ul class="sidenav-links">
      <!--       <li routerLink="create-section" routerLinkActive="active">
        Create new Section
      </li> -->
      <li routerLink="view-edit-section" routerLinkActive="active">Gallery</li>
      <!--       <li routerLink="image-library" routerLinkActive="active">
        Image Library
      </li> -->
    </ul>
  </mat-drawer>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
